<div class="container">
  <div class="row mt-2">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="card" style="width: 50rem; margin: 0 auto">
        <img src="../../../assets/images/teaching.jpg"  height="400" class="card-img-top" alt="teaching">
        <div class="card-body">
          <h3 class="card-title text-center" style="color: #e27d00">Teacher page</h3>
          <p class="card-text text-center ">Welcome, Hope you enjoy =D</p>
        </div>
      </div>
    </div>
  </div>
</div>
